//-----------------------------
//Font Family
//-----------------------------
$primary-font-700: "Poppins 700";
$primary-font-600: "Poppins 600";
$primary-font-500: "Poppins 500";
$primary-font-400: "Poppins 400";
$secondary-font-700: "Poppins 700";
$secondary-font-600: "Poppins 600";
$secondary-font-500: "Poppins 500";
$secondary-font-400: "Poppins 400";

//-----------------------------
//Font Size
//-----------------------------
$size-3xl: 5.6rem;
$size-2xl: 4rem;
$size-xl: 3.6rem;
$size-lg: 2rem;
$size-md: 1.8rem;
$size-sm: 1.6rem;

//-----------------------------
//Text Color
//-----------------------------
$primary-color: #2f2f2f;
$secondary-color: #1e1e1e;
$third-color: #ffffff;
$four-color: #1f1f1f33;

//-----------------------------
//BG Color
//-----------------------------
$primary-bg: #ffffff;
$secondary-bg: #1f1f1f33;
$third-bg: #2f2f2f;
